@import './var';

html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

:root {
	@extend %Montserrat-400;
	font-size: 16px;
	scroll-behavior: smooth;

}

::-webkit-scrollbar {
	width: 10px;
}


::-webkit-scrollbar-thumb {
	background-color: #b0b0b0;
	border-radius: 15px;

}

main {
	flex-grow: 1;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

.container {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 10px;
}

.title-section {
	@extend %Montserrat-500;
	font-size: 3.2em;
	line-height: 48px;
	color: $accent;
}

.desc-section {
	@extend %Montserrat-500;
	color: $grey;
	font-size: 1.4em;
	line-height: 30px;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.swiper {
	width: 100%;
}

.logo {
	display: flex;
	align-items: center;
	z-index: 100;
}

.logo__img {
	width: 32px;
	height: 32px;
	margin-right: 10px;
}

.header__logo-text {
	color: #000;
	font-size: 20px;
	@extend %Montserrat-500;
}


.center-wrapper {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.request-btn {
	@extend %Montserrat-500;
	background-color: #f6b81a;
	border: none;
	font-size: 12px;
	text-transform: uppercase;
	color: #ffffff;
	cursor: pointer;
	padding: 10px 15px;
	border-radius: 10px;
	border: 1px solid #c59315;
	transition: all .3s;
}

.request-btn:hover {
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.menu-burger {
	display: block;
	position: relative;
	height: 28px;
	width: 35px;
	cursor: pointer;
}

.menu-burger>span {
	position: absolute;
	content: '';
	height: 4px;
	width: 100%;
	border-radius: 20px;
	background-color: #f6b81a;
}

.menu-burger>span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%);
}

.menu-burger>span:last-child {
	bottom: 0;
}