//header/////////////////////////////////////////

.header {
	background-color: #ffffff;
	position: fixed;
	height: 140px;
	right: 0;
	left: 0;
	z-index: 200;
	box-shadow: 0px 5px 12px -3px rgba(147, 96, 96, 0.96), -3px 0px 15px -3px rgba(106, 44, 44, 0.4);
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	transition: all .3s;
	padding: 15px 0;
}

.header__wrapper {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__wrapper--line::after {
	position: absolute;
	content: '';
	bottom: -20px;
	width: 90%;
	left: 50%;
	transform: translateX(-50%);
	height: 1px;
	background-color: #67a8f5;
}

.header--top {
	height: 70px;
}

.header__contacts {
	display: flex;
	align-items: center;
	position: relative;
	transition: all .3s;
}

.header__phones {
	margin-right: 50px;
}

.header__contacts--top {
	top: -200px;
}

.header__phones a {
	color: #000;
}

.header__social--menu {
	display: none;
}

.social-list {
	display: flex;
	gap: 20px;
	align-items: center;
}

.social__item,
.fa-brands {
	transition: all .3s;
}

.social__item:hover {
	transform: scale(1.2);

	.fa-brands {
		color: #a09f9e !important;
	}
}

.header__btn {
	@extend %Montserrat-500;
	font-size: 12px;
	padding: 0 15px;
	width: auto;
	height: 40px;
	border: 1px solid #d69c0a;
	color: #ffffff;
	cursor: pointer;
	position: relative;
	z-index: 200;
	border-radius: 10px;
}

.header__btn:before {
	content: '';
	background: linear-gradient(45deg, #65a8eb, #f6b81a, #65a8eb, #f6b81a, #65a8eb, #f6b81a, #65a8eb, #f6b81a, #65a8eb);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	transition: opacity .3s ease-in-out;
	border-radius: 10px;
}

.header__btn:active {
	color: #000
}

.header__btn:active:after {
	background: transparent;
}

.header__btn:hover:before {
	opacity: 1;
}

.header__btn:after {
	z-index: -1;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #f6b81a;
	left: 0;
	top: 0;
	border-radius: 10px;
}

@keyframes glowing {
	0% {
		background-position: 0 0;
	}

	50% {
		background-position: 400% 0;
	}

	100% {
		background-position: 0 0;
	}
}

.header-mobile {
	display: none;
}

.header-mobile__link {
	margin-right: 25px;
}

.header-mobile--menu {
	right: 0 !important;
}


.menu {
	position: relative;
	top: 45px;
}

.menu__list {
	display: flex;
	justify-content: space-around;
}

.menu--top {
	display: flex;
	justify-content: center;
	top: -26px;
}

.menu__list--top {
	gap: 30px;
	justify-content: stretch;
}

.menu__list-item--btn {
	display: none;
}

.menu__list-item--social {
	display: none;
}

.menu__list-link {
	cursor: pointer;
	border: none;
	background: none;
	text-transform: uppercase;
	display: block;
	color: #474646;
	font-size: 14px;
	transition: all .2s;
	@extend %Montserrat-500;
}

.menu__list-link:hover {
	color: #f6b81a;
}

.menu__list-link--size {
	font-size: 12px;
	@extend %Montserrat-700;
}

////////////////////////////////////////////!

.top {
	position: relative;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	background-image: url('../img/top/topBG.png');
	border-bottom: 4px solid $accent-2;
}

.top__wrapper {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.top__inner {
	padding-top: 70px;
	max-width: 550px;
}

.top__title,
.top__desc {
	margin-bottom: 25px;
}

.top__box {
	display: flex;
	align-items: flex-end;
}

.top__integration-img {
	margin-right: 40px;
}

.list-sites {
	display: flex;
}

.list-sites__item:not(:last-child) {
	margin-right: 15px;
}

.top-service {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #01a6f99d;
	padding: 20px 0;
}

.top-service__inner {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.top-service__desc {
	@extend %Montserrat-500;
	position: relative;
	text-align: center;
	margin: 0 auto;
	max-width: 740px;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	padding-left: 70px;
}

.top-service__desc::before {
	position: absolute;
	content: "";
	display: inline-block;
	position: absolute;
	background: url('../img/top/call.png') no-repeat;
	background-size: contain;
	height: 50px;
	width: 50px;
	left: 0;
	bottom: 0;
}




//management

.management {
	padding: 80px 0;
	border-bottom: 5px solid $accent-2;
}

.management__title {
	@extend %Montserrat-500;
	max-width: 1150px;
	font-size: 3.0em;
	line-height: 48px;
	color: $grey;
	margin-bottom: 30px;

}

.management__wrapper {
	display: grid;
	grid-template-columns: minmax(320px, 700px) auto;
	align-items: center;
}

.management__desc {
	@extend %Montserrat-500;
	color: $grey;
	font-size: 1.2em;
	line-height: 30px;
}

.management__desc:not(:last-child) {
	margin-bottom: 15px;

}

.management__item {
	margin-right: 30px;
}

//  product

.product {
	padding: 100px 0 50px;
}

.product__title {
	text-align: center;
	margin-bottom: 40px;
}

.product__desc {
	max-width: 800px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 100px;
}

.product__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-gap: 55px 100px;
}

.product__list-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid $accent;
	padding: 20px 30px;
	border-radius: 10px;
}

.product__list-item:last-child {
	grid-column: 2/3;
}

.product__item-img {
	height: 200px;
	object-fit: contain;
	margin-bottom: 25px;
}

.product__item-title {
	@extend %Montserrat-500;
	color: $accent;
	text-align: center;
	font-size: 24px;
	margin-bottom: 20px;
	line-height: 25px;
}

.product__item-link {
	@extend %Montserrat-500;
	text-transform: uppercase;
	width: max-content;
	border-radius: 10px;
	margin: 0 auto;
	padding: 15px 25px;
	background-color: $accent;
	color: #fff;
	margin-top: auto;
	transition: all .3s;
}

.product__item-link:hover {
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

// advantage

.advantage {
	padding: 100px 0 0;
}

.advantage__list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 250px);
}

.advantage__item--order-2,
.advantage__item--order-6 {
	box-shadow: 0 0 0 100vw $accent, inset 0 0 0 100vw $accent;
	clip-path: inset(0 -100vw 0 0);
	color: #fff;
}

.advantage__item--order-3,
.advantage__item--order-7 {
	box-shadow: 0 0 0 100vmax $accent, inset 0 0 0 100vw $accent;
	clip-path: inset(0 0 0 -100vmax);
	color: #fff;
}

.advantage__item {
	padding: 50px 50px 50px 0;
}

.advantage__item:nth-child(even) {
	padding-left: 50px;
}

.advantage__item-list-element {
	position: relative;
	@extend %Montserrat-500;
	padding-left: 40px;
	line-height: 28px;
	font-size: 1em;
}

.advantage__item-list-element::before {
	position: absolute;
	content: "";
	background: url('../img/product/checked.png') no-repeat;
	background-size: cover;
	left: 0;
	top: 6px;
	height: 20px;
	width: 20px;
}

.advantage__desc {
	@extend %Montserrat-500;
	font-size: 1em;
	line-height: 28px;
}

.advantage__item--order-5 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.advantage__title--auto {
	@extend %Montserrat-500;
	font-size: 34px;
}

// product-integration

.product-integration {
	padding: 80px 0 220px;
}

.product-integration__wrapper {
	position: relative;
	display: grid;
	grid-template-columns: minmax(320px, 400px) auto;
	align-items: center;
}

.product-integration__title {
	color: #3a3a3a;
	margin-bottom: 20px;
}

.product-integration__img {
	position: absolute;
	right: 0;
}

// offer

.offer{
	background-color: $accent;
	padding: 80px 0 60px;
}
.offer__title{
	text-align: center;
	font-size: 3.2em;
	color: #f4f9f4;
	margin-bottom: 50px;
}
.offer__desc{
	text-align: center;
	max-width: 580px;
	margin: 0 auto;
	color: #f4f9f4;
	font-size: 1.5em;
	margin-bottom: 90px;
}
.offer__list{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 25px;
	justify-content: space-between;
}
.offer__list-item{
	@extend %Montserrat-700;
	text-align: center;
	padding: 45px 10px;
	border-radius: 5px;
	background-color: #fff;

}

.offer__item-title{
	@extend %Montserrat-700;
	font-size: 26px;
	color: $accent;
	margin-bottom: 20px;
}
.offer__item-price{
	color: $accent-2;
	font-size: 32px;
	margin-bottom: 20px;
}
.offer__item-img{
	margin: 0 auto;
	margin-bottom: 25px;
	max-height: 50px;
}
.offer__item-enum{
	@extend %Montserrat-500;
	margin-bottom: 10px;
	font-size: 18px;
}
.offer__bag-list{
	height: 120px;

}

.offer__bag-list-item{
	@extend %Montserrat-500;
	font-size: 1.3em;
	line-height: 28px;
}
.offer__btn{
	@extend %Montserrat-700;
	font-size: 1.2em;
	color:#f4f9f4;
	cursor: pointer;
border-radius: 10px;
border: unset;
padding: 10px 15px;
background-color: $accent;
transition: all .3s;
margin-top: 15px;
}
.offer__btn:hover{
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
// documents
.documents {
	padding: 40px 0;
	background-color:#fff ;
}

.documents__title {
	color: $accent;
	font-size: 40px;
	line-height: 50px;
	text-align: center;
}

// cases

.cases {
	padding: 85px 0 50px;
}

.cases__title {
	@extend %Montserrat-700;
	text-transform: uppercase;
	font-size: 32px;
	margin-bottom: 50px;
	text-align: center;
	color: $grey;
}

.cases-slide__item {
	max-width: 50%;
}

.cases-slide__title {
	position: relative;
	@extend %Montserrat-700;
	margin-bottom: 15px;
}

.cases-slide__desc,
.cases-slide__result-item {
	@extend %Montserrat-500;
	line-height: 24px;
}

.cases-slide__desc>span {
	@extend %Montserrat-400;
}

.cases-slide__title--result {
	margin-top: 15px;
}

.cases-slide__title::after {
	display: block;
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	background-color: #000000;
	bottom: -10px;
}

.cases__slide-box {
	display: flex;
	justify-content: space-between;
}

.cases-slide__logo {
	max-height: 100px;
	object-fit: contain;
}

.cases__pagination-box {
	margin-bottom: 80px;
}

.cases-pagination {
	display: grid;
	grid-template-columns: repeat(3, 1fr);

}

.cases-pagination>li {
	display: flex;
	align-items: center;
	justify-content: center;
}

.cases-pagination>li>img {
	max-width: 200px;
}

.swiper-pagination-bullet {
	border: 3px solid rgb(198, 198, 198);
	height: auto;
	padding: 5px;
	border-radius: 5px;
	width: auto;
	opacity: 1;
	background: unset;
}

.swiper-pagination-bullet-active {
	border: 3px solid #01a5f9;
	box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

// contacts

.contacts {
	height: auto;
	position: relative;
}

.contacts__map {
	height: 700px;
}

.contacts__inner {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 40px 30px;
	max-width: 550px;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0px 5px 12px -3px rgba(200, 192, 192, 0.96), -3px 0px 15px -3px rgba(106, 44, 44, 0.4);
}

.contacts__title {
	@extend %Montserrat-500;
	text-align: center;
	color: #231f20;
	margin-bottom: 40px;
	font-size: 36px;
}

.contacts__inner div:not(:last-child) {
	margin-bottom: 25px;
}

.contacts__adress-title {
	margin-bottom: 8px;
}

.contacts__adress-title+address,
.contacts__tel {
	color: #a6a7a6;
}

.contacts__phones address {
	display: flex;
	flex-direction: column;
}

.contacts__tel {
	width: max-content;
}

.contacts__tel:not(:last-child) {
	margin-bottom: 5px;
}

.contacts__email {
	display: flex;
	flex-direction: column;
}

.contacts__email>a {
	color: #a6a7a6;
	width: max-content;
}

.contacts__email>a:not(:last-child) {
	margin-bottom: 5px;
}

// marketing

.marketing__wrapper {
	display: grid;
	grid-template-columns: minmax(320px, 600px) auto;
	align-items: start;
	padding: 130px 0 25px;
}

.marketing__content {
	max-width: 550px;
	margin-right: 50px;
}

.marketing__content>button {
	margin-top: 30px;
}

.marketing__title,
.marketing__items {
	margin-bottom: 30px;
}

.marketing__desc-item>p {
	font-size: 18px;
	line-height: 24px;
}

.marketing__desc-item,
.marketing__crm-desc {
	@extend %Montserrat-500;
	color: $grey;
	line-height: 22px;
	margin-bottom: 8px;
	font-size: 1em;
}

.marketing__desc-item:last-child {
	margin-bottom: 25px;
}

.marketing__crm-item {
	@extend %Montserrat-500;
	font-size: 16px;
	line-height: 20px;
	padding-left: 15px;
}

.marketing__items {
	display: grid;
	grid-template-columns: repeat(4, minmax(50px, 120px));
	grid-column-gap: 10px;
}

.marketing__item {
	padding: 8px;
	display: flex;
	flex-direction: column;
	text-align: center;
	border: 1px solid $accent;
	border-radius: 10px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.marketing__item-img {
	height: 50px;
	width: 100%;
	object-fit: contain;
	margin-bottom: 10px;
}

.marketing__item-desc {
	@extend %Montserrat-500;
	font-size: 14px;
	color: $grey;
	height: 50px;
}

.marketing__main-img {
	object-fit: contain;
}

// accounting

.accounting__title {
	max-width: 1000px;
	margin-bottom: 45px;
}

.accounting__wrapper {
	display: grid;
	grid-template-columns: minmax(320px, 700px) auto;
	align-items: start;
	padding: 130px 0 25px;
}

.accounting__box {
	margin-right: 50px;
}

.accounting__desc {
	@extend %Montserrat-500;
	color: $grey;
	line-height: 22px;
	margin-bottom: 8px;
	font-size: 1em;
}

.accounting__box-desc {
	margin-bottom: 25px;
}

//   spares

.spares__wrapper {
	display: grid;
	grid-template-columns: minmax(320px, 650px) auto;
	align-items: center;
	padding: 130px 0 25px;
}

.spares__inner {
	margin-right: 50px;
}

.spares__title {
	margin-bottom: 30px;
}

.spares__desc-item,
.spares__crm-desc {
	@extend %Montserrat-500;
	color: $grey;
	line-height: 22px;
	margin-bottom: 8px;
	font-size: 1em;
}

.spares__desc-item:last-child {
	margin-bottom: 25px;
}

.spares__auto-item {
	@extend %Montserrat-500;
	font-size: 16px;
	line-height: 22px;
	padding-left: 15px;
}

.spares__auto-item:not(:last-child) {
	margin-bottom: 5px;

}









.spares__desc-item {
	margin-bottom: 5px;
}

.spares__desc-item:last-child {
	margin-bottom: 25px;
}

.spares__box {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

}

// stock

.stock__wrapper {
	display: grid;
	grid-template-columns: minmax(320px, 650px) auto;
	align-items: start;
	padding: 130px 0 25px;
}

.stock__content {
	margin-right: 50px;
}

.stock__content>button {
	margin-top: 30px;
}

.stock__title,
.stock__desc-box {
	margin-bottom: 25px;
}

.stock__desc {
	@extend %Montserrat-500;
	color: $grey;
	line-height: 22px;
	margin-bottom: 8px;
	font-size: 1em;
}

.stock__items {
	display: grid;
	grid-template-columns: repeat(4, minmax(50px, 120px));
	grid-column-gap: 10px;
}

.stock__item {
	padding: 8px;
	display: flex;
	flex-direction: column;
	text-align: center;
	border: 1px solid $accent;
	border-radius: 10px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.stock__item-img {
	height: 50px;
	width: 100%;
	object-fit: contain;
	margin-bottom: 10px;
}

.stock__item-desc {
	@extend %Montserrat-500;
	font-size: 14px;
	color: $grey;
	height: 50px;
}

.stock__main-img {
	object-fit: contain;
}

// purchase

.purchase__wrapper {
	display: grid;
	grid-template-columns: minmax(320px, 700px) auto;
	align-items: start;
	padding: 130px 0 25px;
}

.purchase__content {
	margin-right: 100px;
}

.purchase__content>button {
	margin-top: 30px;
}

.purchase__title {
	margin-bottom: 20px;
}

.purchase__desc {
	@extend %Montserrat-500;
	color: $grey;
	line-height: 22px;
	margin-bottom: 8px;
	font-size: 1em;
}

.purchase__desc-box {
	margin-bottom: 25px;
}

.purchase__items {
	display: grid;
	grid-template-columns: repeat(4, minmax(50px, 130px));
	grid-column-gap: 10px;
}

.purchase__item {
	padding: 8px;
	display: flex;
	flex-direction: column;
	text-align: center;
	border: 1px solid $accent;
	border-radius: 10px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.purchase__item-img {
	height: 50px;
	width: 100%;
	object-fit: contain;
	margin-bottom: 10px;
}

.purchase__item-desc {
	@extend %Montserrat-500;
	font-size: 14px;
	color: $grey;
}

.purchase__main-img {
	object-fit: contain;
}

// delivery

.delivery__wrapper {
	display: grid;
	grid-template-columns: minmax(320px, 800px) auto;
	align-items: center;
	padding: 130px 0 25px;
}

.delivery__content {
	margin-right: 50px;
}

.delivery__desc,
.delivery__desc-item {
	@extend %Montserrat-500;
	color: $grey;
	line-height: 22px;
	margin-bottom: 8px;
	font-size: 1em;
}

.delivery__title {
	margin-bottom: 30px;
}

.delivery__desc-item {
	padding-left: 15px;
}

.delivery__desc-item:last-child {
	margin-bottom: 25px;
}

.delivery__order {
	@extend %Montserrat-500;
	font-size: 1.2em;
	max-width: 550px;
	color: $accent;
	line-height: 26px;
	margin-bottom: 25px;
}

.delivery__main-img {
	object-fit: contain;
}

// analytics

.analytics__wrapper {
	display: grid;
	grid-template-columns: minmax(320px, 650px) auto;
	align-items: center;
}

.analytics__title {
	margin-bottom: 30px;
}

.analytics__desc,
.analytics__desc-item {
	@extend %Montserrat-500;
	color: $grey;
	line-height: 22px;
	margin-bottom: 8px;
	font-size: 1em;
}

.analytics__desc-item {
	padding-left: 15px;
}

.analytics__desc-item>p {
	color: $accent;
}

.analytics__desc-item:last-child {
	margin-bottom: 25px;
}

.analytics__main-img {
	object-fit: contain;
}

// footer//////////////////////

.footer {

	background-color: $accent;
}

.footer__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}

.footer__inner>.logo {
	@extend %Montserrat-500;
	display: flex;
	align-items: center;
	font-size: 18px;
}

.footer__logo-text {
	color: white;
}

.footer-social__list {
	display: flex;
}

.footer-social__item:not(:last-child) {
	margin-right: 10px;
}

.footer-social__list>li {
	transition: all .3s;
}

.footer-social__list>li:hover {
	transform: scale(1.2);
}

// modal 
.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal__dialog {
	max-width: 400px;
	margin: 5% auto;
	box-shadow: 0 0 10px #000000;
	border-radius: 20px;
}

.modal__content {
	position: relative;
	width: 100%;
	padding: 30px;
	background-color: #fff;
	border-radius: 20px;
}

.form__close {
	position: absolute;
	top: 12px;
	right: 12px;
	font-size: 30px;
	cursor: pointer;
}

.form__title {
	@extend %Montserrat-700;
	text-align: center;
	font-size: 24px;
	margin-bottom: 35px;
	text-transform: uppercase;
}

.form__message {
	font-size: 18px;
	@extend %Montserrat-500;
	text-align: center;
}

.modal__close-img {
	width: 20px;
	height: 20px;
	transition: all .5s;
}

.modal__close-img:hover {
	transform: rotate(270deg);
}

.form label {
	display: flex;
	width: 100%;
	margin-bottom: 5px;

}

.form input,
.form textarea {
	width: 100%;
	margin-bottom: 25px;
	border-radius: 5px;
	min-height: 35px;
	padding: 5px 8px;
	border: 1px solid #e1e1e1;
	outline-color: #07060376;

}

.form input:focus,
.form textarea:focus {
	box-shadow: 0 0 10px #ffd63b;

}

.form textarea {
	resize: vertical;
	margin-bottom: 40px;
}

.form [type="submit"] {
	@extend %Montserrat-500;
	background-color: #f6b81a;
	display: block;
	margin: 0 auto 15px;
	padding: 10px 35px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	box-shadow: 0 0 10px #080805;
	transition: all .6s;
}

.form [type="submit"]:hover {
	box-shadow: none;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.fade {
	animation-name: Backgroundfade;
	animation-duration: .5s;
}

@keyframes Backgroundfade {
	from {
		opacity: 0.1;
	}

	to {
		opacity: 1;
	}
}