$accent: #01A5F9;
$accent-2: #feb922;
$grey:#474646;



%Montserrat-400 {
	font-family: "Montserrat-Regular", sans-serif;
	font-weight: 400;
}

%Montserrat-500 {
	font-family: "Montserrat-Medium", sans-serif;
	font-weight: 500;
}

%Montserrat-700 {
	font-family: "Montserrat-Bold", sans-serif;
	font-weight: 700;
}

